/mooc-java-programming-i/part03-Part03_01.ThirdElement/target/
/mooc-java-programming-i/part03-Part03_02.SecondPlusThird/target/
/mooc-java-programming-i/part03-Part03_03.IndexOutOfBoundsException/target/
/mooc-java-programming-i/part03-Part03_04.ListSize/target/
/mooc-java-programming-i/part03-Part03_05.LastInList/target/
/mooc-java-programming-i/part03-Part03_06.FirstAndLast/target/
/mooc-java-programming-i/part03-Part03_07.RememberTheseNumbers/target/
/mooc-java-programming-i/part03-Part03_08.OnlyTheseNumbers/target/
/mooc-java-programming-i/part03-Part03_09.GreatestInList/target/
/mooc-java-programming-i/part03-Part03_10.IndexOf/target/
/mooc-java-programming-i/part03-Part03_11.IndexOfSmallest/target/
/mooc-java-programming-i/part03-Part03_12.SumOfAList/target/
/mooc-java-programming-i/part03-Part03_13.AverageOfAList/target/
/mooc-java-programming-i/part03-Part03_14.OnTheList/target/
/mooc-java-programming-i/part03-Part03_15.PrintInRange/target/
/mooc-java-programming-i/part03-Part03_16.Sum/target/
/mooc-java-programming-i/part03-Part03_17.RemoveLast/target/
